@import "tailwindcss";

@font-face {
  font-family: 'Kamerik';
  src: url('/fonts/Kamerik-105-Cyrillic-Book.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kamerik';
  src: url('/fonts/Kamerik-105-Cyrillic-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --breakpoint-desktop-xl: 1366px;
  --breakpoint-desktop: 1024px;
  --breakpoint-tablet: 768px;

  --color-primary: #0F172A;
  --color-secondary: #334155;
  --color-tertiary: #475569;
  --color-quaternary: #64748B;
  --color-bg-primary: #FFFFFF;
  --color-bg-secondary: #F8FAFC;
  --color-bg-tertiary: #F1F5F9;
  --color-neutral-500: #64748B;
  --color-neutral-900: #0F172A;
}

body {
  color: var(--color-primary);
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 20px;
  overflow-x: hidden;
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
  }

  h1 {
    font-family: 'Kamerik', sans-serif;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 16px;

    @variant desktop {
      font-size: 48px;
      line-height: 60px;
      letter-spacing: -0.01em;
    }
  }

  h2 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 8px;

    @variant desktop {
      font-family: 'Kamerik', sans-serif;
      font-size: 40px;
      line-height: 48px;
      letter-spacing: -0.01em;
      margin-bottom: 20px;
    }
  }

  h3 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 8px;

    @variant desktop {
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 20px;
    }
  }

  h4 {
    font-size: 20px;
    line-height: 32px;

    @variant desktop {
      font-size: 28px;
      line-height: 36px;
    }
  }

  h5 {
    font-size: 20px;
    line-height: 32px;
    font-weight: 600;

    @variant desktop {
      font-size: 24px;
    }
  }

  h6 {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 4px;

    @variant desktop {
      font-size: 20px;
      line-height: 32px;
      margin-bottom: 12px;
    }
  }

  p {
    font-size: 16px;
    line-height: 24px;

    @variant desktop {
      font-size: 18px;
      line-height: 28px;
    }
  }

  button {
    cursor: pointer;
  }

  a:hover {
    color: #1D4ED8;
  }

  a:active {
    color: var(--color-primary);
  }

  summary {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}

input {
  outline: 0;
}

::placeholder {
  color: var(--color-quaternary);
}

select {
  appearance: none;
  background: #F8FAFC url(/images/arrow-down.svg) center right 12px no-repeat;
  border: 1px solid #E2E8F0;
  border-radius: 8px;
  padding: 8px 36px 8px 12px;
  font-weight: 500;
}

.container {
  margin: 0 auto;
  padding-inline: 16px;

  @variant desktop {
    max-width: 1200px;
  }

  @variant desktop-xl {
    max-width: 1440px;
  }
}

@layer components {
  .layout {
    display: flex;
    flex-direction: column;
    gap: 64px;

    @variant desktop {
      gap: 128px;
    }
  }

  .subtitle {
    color: var(--color-tertiary);
    font-size: 16px;
    line-height: 20px;

    @variant desktop {
      font-size: 24px;
      line-height: 32px;
    }
  }

  .slider {
    display: flex;
    gap: 12px;
    overflow-x: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scroll-padding-inline: 16px;
    margin-inline: -16px;
    padding-inline: 16px;

    @variant desktop {
      gap: 24px;
    }
  }

  .slider-item {
    display: grid;
    gap: 12px;
    width: calc(50% - 6px);
    scroll-snap-align: start;
    scroll-snap-stop: always;
    flex-shrink: 0;

    @variant desktop {
      gap: 32px;
      width: calc(25% - 18px);
    }
  }

  .product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 12px;

    @variant desktop {
      gap: 48px 24px;
    }
  }

  .button-rounded {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    background: #F3F9FA;
    border-radius: 12px;
    color: #7195B5;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    padding: 14px 28px;
    cursor: pointer;
    flex-shrink: 0;
  }

  .header-search {
    flex: 1;

    @variant desktop {
      width: 280px;
    }
  }

  .search-field {
    display: flex;
    gap: 8px;
    width: 100%;
    align-items: center;
    background: #F1F5F9;
    border-radius: 9999px;
    line-height: 20px;
    padding: 10px 12px !important;

    @variant desktop {
      font-size: 14px;
      padding-inline: 20px;
    }
  }

  .search-field::before {
    content: url(~/assets/icons/search.svg);
    line-height: 0;
  }

  .search-input {
    width: 0;
    flex: 1;
  }

  .hero-banner {
    position: relative;
    width: 100%;
    max-width: 1760px;
    background-position: center;
    background-size: cover;
    margin-inline: auto;
    overflow: hidden;

    @variant max-desktop {
      height: 633px;
    }
  }

  .advantage-item {
    display: grid;
    align-content: start;
    justify-items: start;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    background: #F5FAFF;
    border-radius: 20px;
    gap: 16px;
    padding: 20px;
    flex-basis: 320px;

    @variant desktop {
      gap: 24px;
      padding: 32px;
      flex: 1 calc(33% - 24px);
    }
  }

  .advantage-icon {
    width: 48px;
    height: 48px;
    text-align: center;
    background: #E9F4F6;
    border-radius: 12px;
    color: #7195B5;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    padding: 12px;
  }

  .advantage-item p {
    color: var(--color-quaternary);
  }

  .arrows {
    display: flex;
    gap: 8px;
  }

  .arrow {
    background: var(--color-bg-secondary);
    border-radius: 50%;
    color: var(--color-neutral-500);
    padding: 12px;
  }

  .arrow::after {
    content: '';
    background: url(~/assets/icons/arrow-right.svg) center / cover no-repeat;
    display: block;
    width: 18px;
    height: 18px;
    opacity: 0.6;

    @variant desktop {
      width: 24px;
      height: 24px;
    }
  }

  .arrow-left::after {
    rotate: 180deg;
  }

  .arrow:hover {
    background: var(--color-bg-tertiary);
    color: var(--color-neutral-900);
  }

  .arrow:hover::after {
    opacity: 1;
  }

  .arrow:disabled {
    opacity: 0.5;
  }

  .image-aside {
    display: flex;
    gap: 24px 92px;

    @variant max-desktop {
      flex-direction: column;
    }

    @variant desktop {
      align-items: center;
    }
  }

  .image-aside img {
    height: 204px;
    border-radius: 16px;
    object-fit: cover;
    flex-shrink: 0;

    @variant desktop {
      width: 708px;
      height: 440px;
      border-radius: 32px;
    }
  }

  .image-gradient {
    position: relative;
    background:
      linear-gradient(
        to var(--direction, bottom),
        transparent,
        rgba(0, 0, 0, var(--opacity, 0.5))
      ),
      var(--bg) center / cover;
  }

  .style-item {
    display: flex;
    min-height: 180px;
    min-width: 150px;
    border-radius: 20px;
    flex: 1 0 min-content;
    background-position: center;
    scroll-snap-align: start;
    scroll-snap-stop: always;

    @variant desktop {
      min-height: 400px;
      min-width: 400px;
    }
  }

  .style-item::after {
    content: attr(data-name);
    border-radius: 9999px;
    background: #FFFFFF1A;
    backdrop-filter: blur(10px);
    color: #FFFFFF;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    padding: 6px 12px;
    margin: auto;

    @variant desktop {
      background: #FFFFFF;
      color: var(--color-primary);
      font-size: 18px;
      line-height: 28px;
      font-weight: 600;
      padding: 8px 16px;
    }
  }

  .promotion-item {
    --opacity: 0.7;
    display: grid;
    gap: 4px;
    min-height: 200px;
    align-content: end;
    border-radius: 24px;
    color: #F1F5F9;
    padding: 12px;
    flex: 1;
    scroll-snap-align: start;
    scroll-snap-stop: always;

    @variant desktop {
      height: 376px;
      min-width: 400px;
      padding: 20px 16px;
    }
  }

  .promotion-item p {
    @variant max-desktop {
      font-size: 14px;
      line-height: 20px;
    }
  }

  .promotion-item::after {
    content: url(~/assets/icons/link.svg);
    position: absolute;
    top: 12px;
    right: 12px;
    background: white;
    border-radius: 50%;
    line-height: 0;
    padding: 6px;

    @variant desktop {
      top: 16px;
      right: 16px;
    }
  }

  .dot-pagination {
    display: flex;
    justify-content: center;
    gap: 8px;
    padding: 8px;

    @variant desktop {
      display: none;
    }
  }

  .dot-pagination-item {
    width: 8px;
    height: 8px;
    background: #CBD5E1;
    border-radius: 50%;
  }

  .dot-pagination-item.active {
    background: #7195B5;
  }

  .stripe-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    background: #0206174D;
    border-radius: 9999px;
    padding: 6px;

    @variant desktop {
      background: none;
      gap: 16px;
    }
  }

  .stripe-pagination-item {
    width: 6px;
    height: 6px;
    background: #FFFFFF;
    border-radius: 9999px;
    opacity: 0.4;

    @variant desktop {
      min-width: 142px;
      height: 8px;
    }
  }

  .stripe-pagination-item.active {
    width: 18px;
    opacity: 1;
  }

  .switch {
    display: block;
    width: 40px;
    background: #E2E8F0;
    border-radius: 9999px;
    padding: 2px;
  }

  .switch-knob {
    display: block;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    box-shadow: var(--shadow-sm);
  }

  :checked + .switch {
    background: #3B82F6;
  }

  :checked + .switch > .switch-knob {
    margin-left: auto;
  }
}
