@import "tailwindcss";

@font-face {
  font-family: 'Kamerik';
  src: url('/fonts/Kamerik-105-Cyrillic-Book.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kamerik';
  src: url('/fonts/Kamerik-105-Cyrillic-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --breakpoint-desktop-xl: 1440px;
  --breakpoint-desktop: 1024px;
  --breakpoint-tablet: 768px;

  --color-brand-25: #F5FAFF;
  --color-brand-50: #F3F9FA;
  --color-brand-200: #D7E9EE;
  --color-brand-500: #8CB0C8;
  --color-brand-600: #7195B5;
  --color-brand-700: #63829F;
  --color-brand-950: #29333D;

  --color-neutral-25: #FCFCFD;
  --color-neutral-50: #F8FAFC;
  --color-neutral-100: #F1F5F9;
  --color-neutral-200: #E2E8F0;
  --color-neutral-300: #CBD5E1;
  --color-neutral-400: #94A3B8;
  --color-neutral-500: #64748B;
  --color-neutral-600: #475569;
  --color-neutral-700: #334155;
  --color-neutral-800: #1E293B;
  --color-neutral-900: #0F172A;
  --color-neutral-950: #020617;

  --color-info-50: #E8F1FF;
  --color-info-500: #3B82F6;
  --color-info-600: #2669D6;

  --color-warning-50: #FFF7ED;
  --color-warning-100: #FFEDD5;

  --color-error-25: #FFFBFB;
  --color-error-100: #FFD8D4;
  --color-error-500: #EF4444;

  --color-success-500: #22C55E;

  --color-tag-new-bg: #EC4899;
  --color-tag-sale-bg: #F43F5E;
  --color-tag-coming-soon-bg: #7F56D9;

  --color-backdrop: #F8F8FA;
  --color-text-inverse: #FCFCFD;
}

body {
  color: var(--color-brand-950);
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 20px;
  overflow-x: hidden;
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
  }

  h1 {
    font-family: 'Kamerik', sans-serif;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 16px;

    @variant desktop {
      font-size: 48px;
      line-height: 60px;
      letter-spacing: -0.01em;
    }
  }

  h2 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 8px;

    @variant desktop {
      font-family: 'Kamerik', sans-serif;
      font-size: 40px;
      line-height: 48px;
      letter-spacing: -0.01em;
      margin-bottom: 20px;
    }
  }

  h3 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 8px;

    @variant desktop {
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 20px;
    }
  }

  h4 {
    font-size: 20px;
    line-height: 32px;

    @variant desktop {
      font-size: 28px;
      line-height: 36px;
    }
  }

  h5 {
    font-size: 20px;
    line-height: 32px;
    font-weight: 600;

    @variant desktop {
      font-size: 24px;
    }
  }

  h6 {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 4px;

    @variant desktop {
      font-size: 20px;
      line-height: 32px;
      margin-bottom: 12px;
    }
  }

  p {
    font-size: 16px;
    line-height: 24px;

    @variant desktop {
      font-size: 18px;
      line-height: 28px;
    }
  }

  button {
    cursor: pointer;
  }

  summary {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}

input {
  outline: 0;
}

input[type="number"] {
  appearance: textfield;
}

::-webkit-inner-spin-button {
  display: none;
}

::placeholder {
  color: var(--color-neutral-500);
}

select {
  appearance: none;
  background: var(--color-neutral-100) url(/images/arrow-down.svg) center right 12px no-repeat;
  border-radius: 8px;
  padding: 8px 36px 8px 12px;
  font-weight: 500;
}

.container {
  margin: 0 auto;
  padding-inline: 16px;
  height: 100%;

  @variant desktop {
    max-width: 1232px;
  }

  @variant desktop-xl {
    max-width: 1472px;
  }
}

@layer components {
  main {
    @variant max-desktop {
      padding-bottom: 64px;
    }

    @variant desktop {
      padding-top: 24px;
      padding-bottom: 96px;
    }

    @variant desktop-xl {
      padding-bottom: 128px;
    }
  }

  .layout {
    display: flex;
    flex-direction: column;
    gap: 64px;

    @variant desktop {
      gap: 96px;
    }

    @variant desktop-xl {
      gap: 128px;
    }
  }

  .subtitle {
    color: var(--color-neutral-500);
    font-size: 16px;
    line-height: 20px;

    @variant desktop {
      font-size: 24px;
      line-height: 32px;
    }
  }

  .slider {
    display: flex;
    gap: 12px;
    overflow-x: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scroll-padding-inline: 16px;
    margin-inline: -16px;
    padding-inline: 16px;

    @variant desktop {
      gap: 24px;
    }
  }

  .slider-item {
    display: grid;
    gap: 12px;
    width: calc(50% - 6px);
    scroll-snap-align: start;
    scroll-snap-stop: always;
    flex-shrink: 0;

    @variant desktop {
      gap: 24px;
      width: calc(100% / 3 - 16px);
    }

    @variant desktop-xl {
      gap: 32px;
      width: calc(25% - 18px);
    }
  }

  .product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 12px;

    @variant desktop {
      gap: 48px 24px;
    }
  }

  .button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    border-radius: 12px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    padding: 10px 16px;
    cursor: pointer;
    flex-shrink: 0;
  }

  .button-primary {
    background: var(--color-brand-600);
    color: white;
  }

  .button-secondary {
    background: var(--color-neutral-100);
    color: var(--color-neutral-600);
  }

  .button-tertiary {
    background: white;
    color: var(--color-neutral-600);
    border: 1px solid var(--color-neutral-300);
    line-height: 24px;
  }

  .search-field {
    display: flex;
    gap: 8px;
    width: 100%;
    align-items: center;
    background: var(--color-neutral-100);
    border-radius: 9999px;
    line-height: 20px;
    padding: 10px 12px;
  }

  .search-field::before {
    content: url(~/assets/icons/search.svg);
    line-height: 0;
  }

  .search-input {
    width: 0;
    flex: 1;
  }

  .hero-banner {
    position: relative;
    background-position: center;
    background-size: cover;
    overflow: hidden;

    @variant max-desktop {
      height: 314px;
    }

    @variant desktop {
      height: 440px;
      border-radius: 30px;
      margin-inline: 24px;
      padding-block: 24px;
    }

    @variant desktop-xl {
      border-radius: 40px;
    }
  }

  .hero-banner-large {
    --pagination-offset: 56px;

    @variant max-desktop {
      height: 628px;
    }

    @variant desktop {
      height: 566px;
      border-radius: 40px;
    }

    @variant desktop-xl {
      height: 816px;
    }
  }

  .hero-banner-small {
    @variant desktop {
      height: 194px;
      border-radius: 40px;
    }

    @variant desktop-xl {
      height: 280px;
    }
  }

  .advantage-item {
    display: grid;
    align-content: start;
    justify-items: start;
    width: 320px;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    background: var(--color-brand-25);
    border-radius: 20px;
    gap: 16px;
    padding: 20px;

    @variant desktop {
      width: calc(100% / 3 - 16px);
      gap: 24px;
      padding: 32px;
    }
  }

  .advantage-icon {
    width: 48px;
    height: 48px;
    text-align: center;
    background: var(--color-brand-600);
    border-radius: 12px;
    color: white;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    padding: 12px;
  }

  .advantage-text {
    color: var(--color-neutral-600);
  }

  .arrows {
    display: flex;
    gap: 8px;
  }

  .arrow {
    background: var(--color-neutral-100);
    border-radius: 50%;
    color: var(--color-neutral-500);
    padding: 12px;
  }

  .arrow::after {
    content: '';
    background: url(~/assets/icons/arrow-right.svg) center / cover no-repeat;
    display: block;
    width: 20px;
    height: 20px;
    opacity: 0.6;

    @variant desktop {
      width: 24px;
      height: 24px;
    }
  }

  .arrow-left::after {
    rotate: 180deg;
  }

  .arrow:hover {
    background: var(--color-neutral-200);
    color: var(--color-neutral-900);
  }

  .arrow:hover::after {
    opacity: 1;
  }

  .arrow:active {
    background: var(--color-neutral-300);
  }

  .arrow:disabled {
    opacity: 0.5;
  }

  .image-aside {
    display: flex;
    gap: 24px;

    @variant max-desktop {
      flex-direction: column;
    }

    @variant desktop {
      align-items: center;
      column-gap: 126px;
    }

    @variant desktop-xl {
      column-gap: 146px;
    }
  }

  .image-aside:nth-child(2n) {
    @variant desktop {
      flex-direction: row-reverse;
    }
  }

  .image-aside img {
    height: 204px;
    border-radius: 16px;
    object-fit: cover;
    flex-shrink: 0;

    @variant desktop {
      width: 588px;
      height: 392px;
      border-radius: 32px;
    }

    @variant desktop-xl {
      width: 708px;
      height: 472px;
    }
  }

  .image-gradient {
    position: relative;
    background:
      linear-gradient(
        to var(--direction, bottom),
        transparent,
        rgba(0, 0, 0, var(--opacity, 0.5))
      ),
      var(--bg) center / cover;
  }

  .bento {
    display: flex;
    flex-flow: column;
    gap: 12px;

    @variant desktop {
      flex-flow: wrap;
      gap: 24px;
    }
  }

  @variant desktop {
    .bento > :nth-child(5n+1),
    .bento > :nth-child(5n+2),
    .bento > :nth-child(5n+3) {
      width: calc(100% / 3 - 16px);
    }

    .bento > :nth-child(5n+4),
    .bento > :nth-child(5n+5) {
      width: calc(50% - 12px);
    }
  }

  .style-item {
    display: flex;
    align-items: flex-end;
    height: 216px;
    border-radius: 20px;
    background-position: center;
    padding: 16px;
    text-align: center;
    scroll-snap-align: start;
    scroll-snap-stop: always;

    @variant max-desktop {
      min-width: 288px;
    }

    @variant desktop {
      height: 336px;
      border-radius: 32px;
      padding: 24px;
    }

    @variant desktop-xl {
      height: 400px;
    }
  }

  .style-item::after {
    content: attr(data-name);
    border-radius: 9999px;
    background: white;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    padding: 8px 16px;

    @variant desktop {
      font-size: 18px;
      line-height: 28px;
      padding: 6px 16px;
    }
  }

  .promotion-item {
    --opacity: 0.7;
    display: grid;
    gap: 4px;
    align-content: end;
    height: 216px;
    border-radius: 24px;
    color: white;
    padding: 12px;
    scroll-snap-align: start;
    scroll-snap-stop: always;

    @variant max-desktop {
      min-width: 288px;
    }

    @variant desktop {
      height: 336px;
      border-radius: 32px;
      padding: 20px 24px;
    }

    @variant desktop-xl {
      height: 400px;
    }
  }

  .promotion-item p {
    color: var(--color-neutral-200);

    @variant max-desktop {
      font-size: 14px;
      line-height: 20px;
    }
  }

  .image-link::before {
    content: url(~/assets/icons/link.svg);
    position: absolute;
    top: 12px;
    right: 12px;
    background: white;
    border-radius: 50%;
    line-height: 0;
    padding: 6px;

    @variant desktop {
      top: 24px;
      right: 24px;
    }
  }

  .dot-pagination {
    display: flex;
    justify-content: center;
    gap: 8px;
    padding: 8px;

    @variant desktop {
      display: none;
    }
  }

  .dot-pagination-item {
    width: 8px;
    height: 8px;
    background: var(--color-neutral-300);
    border-radius: 50%;
  }

  .dot-pagination-item.active {
    background: var(--color-brand-600);
  }

  .pill-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    background: color-mix(in oklab, var(--color-neutral-950) 30%, transparent);
    border-radius: 9999px;
    padding: 6px;
  }

  .pill-pagination-item {
    width: 6px;
    height: 6px;
    background: #D9D9D9;
    border-radius: 9999px;
  }

  .pill-pagination-item.active {
    width: 18px;
    background: white;
  }

  @variant desktop {
    .stripe-pagination {
      background: none;
      gap: 16px;
    }

    .stripe-pagination-item {
      min-width: 142px;
      height: 8px;
    }
  }

  .switch {
    display: block;
    width: 40px;
    background: var(--color-neutral-300);
    border-radius: 9999px;
    padding: 2px;
  }

  .switch:hover {
    background: var(--color-neutral-400);
  }

  .switch-knob {
    display: block;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    box-shadow: var(--shadow-sm);
  }

  :checked + .switch {
    background: var(--color-neutral-500);
  }

  :checked + .switch > .switch-knob {
    margin-left: auto;
  }

  .dropdown-content {
    min-width: 136px;
    background: white;
    border: 1px solid var(--color-neutral-200);
    border-radius: 10px;
    color: var(--color-neutral-800);
    font-weight: 500;
    overflow: hidden;
  }

  .dropdown-item {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 10px 12px;
    cursor: pointer;
  }

  .dropdown-item:hover {
    background: var(--color-neutral-100);
  }

  .dropdown-item:active {
    background: var(--color-neutral-200);
  }
}
